@charset "UTF-8";

body {
    font-family: 'Arial', sans-serif;
    color: #3b3b60;
    background-color: #F8FaFb;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

div.header {
    padding: 20px;
    background-color: #457ba0;
    color: white;
    text-align: center;
}

#compe_info {
    background-color: #303055;
    color: #fefeff;
    padding: 2em;
    margin-bottom: 1em;
    border-radius: 5px;
}

#compe_info h1 {
    font-size: 2em;
    margin-bottom: 0.75em;
}

#compe_description {
    text-align: left;
    font-size: 1.1em;
    margin-bottom: 1em;
}

#compe_bar {
    background-color: #fefefe;
    font-size: 1.2em;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 5px;
}

div.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2em;
}

#subresult, div.textarea {
    background-color: white;
    padding: 2em;
    margin-bottom: 2em;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2em;
}

th, td {
    padding: 1em;
    border: 1px solid #76768a;
}

th {
    background-color: #76768a;
    color: white;
}

td {
    background-color: #eaf2fa;
}

div.footer {
    padding: 1em;
    text-align: center;
    background-color: #eaf2fa;
    border-top: 1px solid #76768a;
    margin-top: 2em;
}

form#my_form ul {
    padding: 0;
    margin: 0;
}

form#my_form ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
}

button#button, button.send {
    display: block;
    width: 100%;
    padding: 1em;
    font-size: 1.2em;
    color: white;
    background-color: #457ba0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1em;
}

button#button:hover, button.send:hover {
    background-color: #36586e;
}

div.DataArea {
    margin:1em 2em; 
    background-color:#e3e3e3;
    border-radius:10px;
    padding: 2em;
}


nav#compe_bar {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}

nav#compe_bar a {
    color: black;
    text-decoration: none;
    padding: 14px 18px;
    background-color: #fefeff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav#compe_bar a:hover {
    background-color: #88af88;
    color: white;
}

nav#compe_bar a.highlight {
    color: #fefefe;
    font-weight: bold;
    background-color: #88ce88;
}

nav#compe_bar a.highlight:hover {
    background-color: #88af88;
}


/* login form style */
main {
    max-width: 400px;
    margin: 0 auto;
    padding: 1em;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.input-group label {
    margin-bottom: 0.5em;
}

.input-group input {
    padding: 0.5em;
    font-size: 1em;
}

.btn-primary {
    padding: 0.5em 1em;
    font-size: 1em;
    color: white;
    background-color: #457ba0;
    border: none;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #366782;
}