<!-- Filename: competitions.html -->

<!DOCTYPE html>
<html>

<head>
    <title>Competitions</title>

    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', path='favicon.ico') }}" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>

<body class="bg-light text-dark p-5">
    <h1 class="text-center">Competitions</h1>
    <div class="d-flex flex-row flex-wrap justify-content-around align-items-center mt-5">
        {% for link in competition_links %}
        <a href="{{ link.href }}" class="btn btn-success btn-lg p-3 m-2 text-white" role="button">{{ link.title }}</a>
        {% endfor %}
    </div>
</body>

</html>