{% extends "layout.html" %}
{% from macro_src import competition_title, competition_subtitle %}
{% from macro_src import data_info %}

{% block body %}

<div class="main">
    <div class="textarea">
        <h2>Data Description</h2>
        <hr>
        <div id="overviewtext" style="padding-left:40px;">
            <h3>データの入手方法</h3>

            <br>
            <form action="data_download" method="get">
                <button class="send">Download zip</button>
            </form>
            </br>

            {{ data_info() }}
        </div>
    </div>
</div>

{% endblock %}