<!DOCTYPE html>
<html>

<head>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <title>{{ competition_title }} ~ {{ competition_subtitle }}</title>
</head>

<body>
    <header class="header">
        <div class="header-content">
            {{ competition_title }}
            {% if 'access_token' in request.cookies %}
            <a href="/logout" class="logout-button">Logout</a>
            {% else %}
            <a href="/login" class="login-button">Login</a>
            {% endif %}
        </div>
    </header>

    <header class="banner">
        <section id="compe_info">
            <h1>{{ competition_title }}</h1>
            <p id="compe_description">{{ competition_subtitle }}</p>

        </section>

        <nav id="compe_bar">
            <div class="left">
                <a href="overview">Overview</a>
                <a href="data">Data</a>
                <a href="leaderboard">Leaderboard</a>
            </div>
            <div class="right">
                <a href="mysubmission">My Submissions</a>
                <a href="submit" class="highlight">Submit Predictions</a>
            </div>
        </nav>

    </header>

    <main class="main">

        {% block body %}{% endblock %}
    </main>

    <footer class="footer">
        BrainPad
    </footer>
</body>

</html>