<!DOCTYPE html>
<html>

<head>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <title>Exercise Leaderboard beta</title>
</head>

<body>
    <header class="header">
        2019新卒研修
    </header>

    <main class="main">
        <section id="compe_info">
            <h1>分析演習</h1>
            <p id="compe_description">ニュース配信のクリック率予測</p>
        </section>

        <nav id="compe_bar">
            <a href="overview">Overview</a>
            <a href="data">Data</a>
            <a href="leaderboard">Leaderboard</a>
            <a href="mysubmission">My Submissions</a>
            <a href="submit" class="highlight">Submit Predictions</a>
        </nav>

        {% block body %}{% endblock %}
    </main>

    <footer class="footer">
        BrainPad
    </footer>
</body>

</html>