<!-- Filename: leaderboard.html -->

{% extends "layout.html" %}
{% from macro_src import competition_title, competition_subtitle %}
{% from macro_src import resultview %}

{% block body %}

{% if main_score %}
<div class="main" id="subresult">
    <div class="alert alert-success text-center" role="alert">
        サブミット成功<br>
        {{ resultview(main_score) }}
    </div>
</div>
{% endif %}

<div class="d-flex justify-content-between align-items-center">
    <h4 class="display-5">Leaderboard</h4>
</div>
<hr class="my-3">

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 20px;">Rank</th>
            <th>Username</th>
            <th style="width: 150px;">Best Score</th>
            <th style="width: 100px;">#Submission</th>
            <th style="width: 200px;">Last Submission</th>
        </tr>
    </thead>
    <tbody>
        {% for score in tables.iterrows() %}
        <tr>
            <td align="center">{{score[0]+1}}</td>
            <td>{{score[1]["Username"]}}</td>
            <td align="center" style="background-color: #FFE0C4;">{{score[1]["Best Score"]}}</td>
            <td align="center">{{score[1]["#Submission"]}}</td>
            <td align="center">{{score[1]["Last Submission"]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}