{% extends "layout.html" %}
{% from macro_src import competition_title, competition_subtitle %}

{% block body %}

<div class="main" id="table">
    <div class="textarea">
        <h2>My Submissions</h2>
        <hr>
    </div>
    <table>
        <tr>
            {% for ind in tables.columns %}
            <th align="left">{{ind}}</th>
            {% endfor %}
        </tr>
        {% for score in tables.iterrows() %}
        <tr>
            <td>{{score[1]["Description"]}}</td>
            <td>{{score[1]["Score"]}}</td>
            <td>{{score[1]["Last Submission"]}}</td>
            <td>{{score[1]["Upload Date"]}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}