<!-- Filename: top_page.html -->

<!DOCTYPE html>
<html>

<head>
    <title>白金カップ</title>

    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', path='favicon.ico') }}" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>

<body class="d-flex flex-column align-items-center justify-content-center"
    style="height: 100vh; background-color: #F4F4F4;">
    <h1 class="text-center mb-5">白金カップ</h1>
    <h2 class="text-center mb-5">社内コンペプラットフォーム</h2>
    <a href="/login" class="btn btn-lg btn-primary">LOGIN</a>
</body>

</html>